/* PAGINA FORMULARIO ENVIADO */
/* PAGINA FORMULARIO ENVIADO */
/* PAGINA FORMULARIO ENVIADO */

.contenido-formulario{
    margin-top: 20px;
    margin-bottom: 400px;

    h1{
        font-family: 'Permanent Marker', cursive;
            color: $titlecolor;
            font-weight: bold;
            font-size: 35px;
            letter-spacing: 4px;
            margin-bottom: 30px;
            margin-left: 10px;
            text-align: center;
    }
    
}