body{
    background-color: rgb(0, 0, 0);


    header{
        background-color: rgb(168, 51, 51);

        .navbar.navbar-expand-lg.bg-body-tertiary{
            background-color: rgb(168, 51, 51);
        
            .container-fluid{
                background-color: rgb(168, 51, 51);
                .navbar-brand{
                    margin-left: 10px;
                    font-family: 'Bebas Neue', sans-serif;
                    font-size: 35px;
                    font-weight: bold;
                    color: rgb(225, 225, 225);
                        &:hover{
                            color: rgb(0, 0, 0);
                            border-radius: 20px;
                            font-weight: bold;
                        }
                }

                button{
                    background-color: rgb(225, 225, 225);
                    .navbar-toggler-icon{
                        color: rgb(225, 225, 225);
                    }
                }
                

                .link-logo{
                    img{
                        margin-left: 10px;
                        width: 80px;
                        height: 80px
                    }
                }
                .collapse.navbar-collapse{
                    color: rgb(225, 225, 225);

                    .nav-item{
                        .nav-link{
                            font-size: 16px;
                            font-weight: bold;
                            color: rgb(225, 225, 225);
                                &:hover{
                                    color: rgb(0, 0, 0);
                                    border-radius: 20px;
                                    font-weight: bold;
                                }
                        
                        }
                    }
                }
            }
        }
    }
}