/* PAGINA PEDIDO RESPONSIVE */
/* PAGINA PEDIDO RESPONSIVE */
/* PAGINA PEDIDO RESPONSIVE */

@media screen and (max-width: 1680px) {   

    .contenedor-pedidos{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "hamburguesa1   hamburguesa2    hamburguesa3"
        "hamburguesa4   hamburguesa5    hamburguesa6"
        "hamburguesa7   hamburguesa8    hamburguesa9";
    }
    
    .contenedor-pedidos img{
        width: 400px;
        height: 250px;
        border-radius: 10px;
        margin: 5px;

    }
    
    .mas-pedidos{
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 30px;
    }
    
    .name-compania{
        font-size: 30px;
        width: 150px;
        margin-left: 10px;
    }

    .link-logo img{
        width: 50px;
        height: 50px;
    }

    .menu li{
        font-size: 25px;
        margin: 0px 10px;
        align-items: center;
        justify-content: center;
        place-items: center;
    }

    ul a{
        margin: 10px auto;
    }

    .text-pedido{
        color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 400px;
        font-size: 18px;
    }

}

@media screen and (max-width: 1300px) {   

    .contenedor-pedidos{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "hamburguesa1   hamburguesa2    hamburguesa3"
        "hamburguesa4   hamburguesa5    hamburguesa6"
        "hamburguesa7   hamburguesa8    hamburguesa9";
    }
    
    .contenedor-pedidos img{
        width: 330px;
        height: 250px;
        border-radius: 10px;
        margin: 5px;

    }
    
    .mas-pedidos{
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 30px;
    }
    
    .name-compania{
        font-size: 30px;
        width: 150px;
        margin-left: 10px;
    }

    .link-logo img{
        width: 50px;
        height: 50px;
    }

    .menu li{
        font-size: 22px;
        margin: 0px 10px;
        align-items: center;
        justify-content: center;
        place-items: center;
    }

    ul a{
        margin: 10px auto;
    }

    .text-pedido{
        color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 330px;
        font-size: 18px;
    }

}


@media screen and (max-width: 1024px) {   

    .contenedor-pedidos{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "hamburguesa1   hamburguesa2    hamburguesa3"
        "hamburguesa4   hamburguesa5    hamburguesa6"
        "hamburguesa7   hamburguesa8    hamburguesa9";
    }
    
    .contenedor-pedidos img{
        width: 300px;
        height: 180px;
        border-radius: 10px;
        margin: 5px;

    }
    
    .mas-pedidos{
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 30px;
    }
    
    .name-compania{
        font-size: 30px;
        width: 150px;
        margin-left: 10px;
    }

    .link-logo img{
        width: 50px;
        height: 50px;
    }

    .menu li{
        font-size: 20px;
        margin: 0px 10px;
        align-items: center;
        justify-content: center;
        place-items: center;
    }

    ul a{
        margin: 10px auto;
    }

    .text-pedido{
        color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 300px;
        font-size: 14px;
    }

}

@media screen and (max-width: 880px) {   

    .contenedor-pedidos{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "hamburguesa1   hamburguesa2    hamburguesa3"
        "hamburguesa4   hamburguesa5    hamburguesa6"
        "hamburguesa7   hamburguesa8    hamburguesa9";
    }
    
    .contenedor-pedidos img{
        width: 250px;
        height: 180px;
        border-radius: 10px;
        margin: 5px;

    }
    
    .mas-pedidos{
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 30px;
    }
    
    .name-compania{
        font-size: 30px;
        width: 150px;
        margin-left: 10px;
    }

    .link-logo img{
        width: 50px;
        height: 50px;
    }

    .menu li{
        font-size: 20px;
        margin: 0px 10px;
        align-items: center;
        justify-content: center;
        place-items: center;
    }

    ul a{
        margin: 10px auto;
    }

    .text-pedido{
        color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 250px;
        font-size: 14px;
    }

}


@media screen and (max-width: 768px) {   

    .contenedor-pedidos{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
        "hamburguesa1   hamburguesa2"
        "hamburguesa3   hamburguesa4"
        "hamburguesa5   hamburguesa6"
        "hamburguesa7   hamburguesa8"
        "hamburguesa9   hamburguesa9";
    }
    
    .contenedor-pedidos img{
        width: 320px;
        height: 210px;
        border-radius: 10px;
    }
    
    .mas-pedidos{
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 30px;
        margin: 5px;
    }
    
    .name-compania{
        font-size: 30px;
        width: 150px;
        margin-left: 10px;
    }

    ul a{
        margin: 10px auto;
    }

    .menu li{
        display: block;
        font-size: 18px;
        margin-right: 20px;
    }

    .text-pedido{
        color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 330px;
        font-size: 14px;
    }

}

@media screen and (max-width: 660px) {
    
    .contenedor-pedidos img{
        width: 300px;
        height: 200px;
        border-radius: 10px;
    }

    .mas-pedidos{
        margin: 5px;
    }

    .menu li{
        display: block;
        font-size: 18px;
        margin-right: 20px;
    }

    .mas-pedidos{
        margin: 5px;
    }

    .text-pedido{
        color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 300px;
        font-size: 14px;
    }
}

@media screen and (max-width: 630px) {
    
    .contenedor-pedidos img{
        width: 290px;
        height: 200px;
        border-radius: 10px;
    }

    .menu li{
        display: block;
        font-size: 18px;
        margin-right: 20px;
    }

    .mas-pedidos{
        margin: 5px;
    }

    .text-pedido{
        color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 290px;
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {

    .contenedor-pedidos{
        grid-template-columns: 1fr;
        grid-template-rows: 0.8fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "hamburguesa1"
        "hamburguesa2"
        "hamburguesa3"
        "hamburguesa4"
        "hamburguesa5"
        "hamburguesa6"
        "hamburguesa7"
        "hamburguesa8"
        "hamburguesa9";
    }
    
    .contenedor-pedidos img{
        width: 480px;
        height: 300px;
        border-radius: 10px;
    }

    .menu li{
        display: block;
        font-size: 18px;
        margin-right: 20px;
    }

    .mas-pedidos{
        margin: 5px;
    }

    .text-pedido{
        color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 480px;
        font-size: 14px;
    }
}
    

@media screen and (max-width: 480px) {   

    .contenedor-pedidos{
        grid-template-columns: 1fr;
        grid-template-rows: 0.8fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "hamburguesa1"
        "hamburguesa2"
        "hamburguesa3"
        "hamburguesa4"
        "hamburguesa5"
        "hamburguesa6"
        "hamburguesa7"
        "hamburguesa8"
        "hamburguesa9";
    }

    .contenedor-pedidos img{
        width: 320px;
        height: 220px;
        border-radius: 10px;
    }

    .mas-pedidos{
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 30px;
        margin: 5px;
    }

    .text-pedido{
        color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 320px;
        font-size: 12px;
    }

    .name-compania{
        font-size: 30px;
        width: 150px;
        margin-left: 10px;
    }


    .menu li{
        display: block;
        font-size: 15px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 320px) {   

    .contenedor-pedidos{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "hamburguesa1"
        "hamburguesa2"
        "hamburguesa3"
        "hamburguesa4"
        "hamburguesa5"
        "hamburguesa6"
        "hamburguesa7"
        "hamburguesa8"
        "hamburguesa9";
    }
    
    .contenedor-pedidos img{
        width: 95%;
        height: 200px;
        border-radius: 10px;
    }
    
    .mas-pedidos{
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 20px;
        margin: 5px;
    }
    
    .text-pedido{
        color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 300px;
    }

    .name-compania{
        font-size: 30px;
        width: 150px;
        margin-left: 10px;

    }

    .menu li{
        display: block;
        font-size: 15px;
        margin-right: 20px;
    }
}

/* PAGINA NUESTRA CARTA RESPONSIVE*/
/* PAGINA NUESTRA CARTA RESPONSIVE*/
/* PAGINA NUESTRA CARTA RESPONSIVE*/

@media screen and (max-width: 1024px) {   

          
    .carousel-inner img{
        width: 400px;
        height: 300px;
    }

}


@media screen and (max-width: 768px) {   

          
    .carousel-inner img{
        width: 400px;
        height: 300px;
    }

}

@media screen and (max-width: 480px) {   

      
    .carousel-inner img{
        width: 350px;
        height: 250px;
    }

}

@media screen and (max-width: 320px) {   

      
    .carousel-inner img{
        width: 300px;
        height: 200px;
    }



}


/* PAGINA INDEX RESPONSIVE */
/* PAGINA INDEX RESPONSIVE */
/* PAGINA INDEX RESPONSIVE */



@media screen and (max-width: 1300px) {

    .principal-2-1{
        margin: 20px auto;
        justify-content: center;
    }

    .principal-1{
        margin: 20px auto;
        justify-content: center;
    }

    .principal-1 h1{
        width: 500px;
        margin: 20px auto;
        justify-content: center;
    }

    .principal-1 img{
        width: 550px;
        height: 280px;
        margin: 20px auto;
        justify-content: center;
    }

    .principal-2 img{
        width: 450px;
        margin: 10px auto;
        justify-content: center;
    }

    .principal-2-1 h2{
        width: 500px;
        font-size: 30px;
        margin: 10px auto;
        justify-content: center;
    }

    .principal-2-1 .text1{
        font-size: 20px;
        width: 500px;
        margin: 5px auto;
        justify-content: center;
        margin-bottom: 30px;

    }

    .img-reserva-main{
        margin-top: 50px;
    }

    h1{
        font-size: 40px;
        letter-spacing: 4px;
        margin-bottom: 30px;
        text-align: center;
    }

    h3 {
        font-size: 30px;
        letter-spacing: 4px;
        text-align: center;
        padding: 50px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 1024px) {

    .principal-2-1{
        margin: 10px auto;
        justify-content: center;
    }

    .principal-1{
        margin: 10px auto;
        justify-content: center;
    }

    .principal-1 h1{
        width: 400px;
        margin: 10px auto;
        justify-content: center;
    }

    .principal-1 img{
        width: 420px;
        height: 200px;
        margin: 10px auto;
        justify-content: center;
    }

    .principal-2 img{
        width: 300px;
        height: 450px;
        margin: 10px auto;
        justify-content: center;
    }

    .principal-2-1 h2{
        width: 360px;
        font-size: 30px;
        margin: 10px auto;
        justify-content: center;
    }

    .principal-2-1 .text1{
        font-size: 15px;
        width: 350px;
        margin: 5px auto;
        justify-content: center;
        margin-bottom: 30px;

    }

    h1{
        font-size: 30px;
        letter-spacing: 4px;
        margin-bottom: 30px;
        margin-left: 10px;
        text-align: center;
    }

    h3 {
        font-size: 30px;
        letter-spacing: 4px;
        text-align: center;
        padding: 50px;
        border-radius: 10px;
    }
}


@media screen and (max-width: 768px) {

    .contenedor-principal{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.6fr 0.4fr 0.6fr;
        grid-template-areas: 
        "principal-1"
        "principal-2"
        "img-reserva-main"
        "iframe-maps";
    }


    .principal-1{
        grid-area: principal-1;
    }

    .principal-2{
        grid-area: principal-2;
    }

    .img-reserva-main{
        grid-area: img-reserva-main;
    }

    .iframe-maps{
        grid-area: iframe-maps;
    }


    .principal-1,
    .principal-2,
    .img-reserva-main,
    .iframe-maps{
        display: grid;
        place-items: center;
        text-align: center;
        align-items: center;
    }

    .iframe-maps{
        width: 300px;
        height: 100px;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
    }

    .titulo-container{
        font-size: 30px;
        text-align: center;
        width: 450px;
        margin-top: 20px;
    }

    .principal-1{
        height: 420px;
        width: 450px;
        margin: 10px auto;
        justify-content: center;
    }

    .principal-2{
        height: 300px;
        width: 300px;
        margin: 10px auto;
        justify-content: center;
    }

    .principal-2-1{
        height: 250px;
        width: 450px;
        margin: 5px auto;
        justify-content: center;
    }

    .principal-1 img{
        width: 420px;
        height: 200px;
        margin: 10px;
        justify-content: center;
    }

    .principal-2 img{
        width: 300px;
        height: 450px;
        margin: 5px;
        justify-content: center;
    }

    .img-reserva-main{
        margin-top: 550px;
        margin-left: 15px;
        margin-right: 15px;
        justify-content: center;

    }

    .iframe-maps{
        margin: 10px auto;
        justify-content: center;
    }

    .img-reserva-main a{
        margin: 10px;
        border-width: 3px;
        border-radius: 20px;
    }

    .titulo-reserva-main{
        font-size: 20px;
        margin-top: 30px;
    }

    .principal-2-1 h2{
        width: 300px;
        font-size: 25px;
        margin: 10px auto;
        justify-content: center;
    }

    .principal-2-1 .text1{
        font-size: 15px;
        width: 450px;
        margin: 5px auto;
        justify-content: center;
        

    }

    iframe{
        margin: 20px auto;
        justify-content: center;
        width: 300px;
        height: 300px;
    }

    ul a{
        text-decoration: none;
        margin: auto;
    }

    h1{
        font-size: 30px;
        letter-spacing: 4px;
        margin-bottom: 30px;
        margin-left: 10px;
        text-align: center;
    }

    h3 {
        font-size: 30px;
        letter-spacing: 4px;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
    }


}


@media screen and (max-width: 480px) {

    .contenedor-principal{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.6fr 0.4fr 0.6fr;
        grid-template-areas: 
        "principal-1"
        "principal-2"
        "img-reserva-main"
        "iframe-maps";
    }


    .principal-1{
        grid-area: principal-1;
    }

    .principal-2{
        grid-area: principal-2;
    }

    .img-reserva-main{
        grid-area: img-reserva-main;
    }

    .iframe-maps{
        grid-area: iframe-maps;
    }


    .principal-1,
    .principal-2,
    .img-reserva-main,
    .iframe-maps{
        display: grid;
        place-items: center;
        text-align: center;
        align-items: center;
    }

    .iframe-maps{
        width: 300px;
        height: 100px;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
    }

    .titulo-container{
        font-size: 30px;
        text-align: center;
        width: 300px;
    }

    .principal-1{
        height: 400px;
        width: 300px;
        margin: 10px auto;
        justify-content: center;
    }

    .principal-2{
        height: 400px;
        width: 300px;
        margin: 10px auto;
        justify-content: center;
    }

    .principal-2-1{
        height: 250px;
        width: 300px;
        margin: 10px;
        justify-content: center;
    }

    .principal-1 img{
        width: 300px;
        height: 150px;
        margin: 10px;
        justify-content: center;
    }

    .principal-2 img{
        width: 300px;
        height: 450px;
        margin: 5px;
        justify-content: center;
    }

    .img-reserva-main{
        margin-top: 420px;
        margin-left: 15px;
        margin-right: 15px;
        justify-content: center;

    }

    .iframe-maps{
        margin: 10px auto;
        justify-content: center;
    }

    .img-reserva-main a{
        margin: 10px;
        border-width: 3px;
        border-radius: 20px;
    }

    .titulo-reserva-main{
        font-size: 20px;
        margin-top: 30px;
    }


    .principal-2-1 h2{
        width: 300px;
        font-size: 25px;
        margin: 10px;
        justify-content: center;
    }

    .principal-2-1 .text1{
        font-size: 10px;
        width: 300px;
        margin: 5px;
        justify-content: center;

    }

    iframe{
        margin: 20px auto;
        justify-content: center;
        width: 300px;
        height: 300px;
    }

    ul a{
        text-decoration: none;
        margin: auto;
    }

    .principal-1 h1{
        width: 300px;
        font-size: 30px;
        letter-spacing: 4px;
        margin-bottom: 30px;
        margin-left: 10px;
        text-align: center;
    }

    h3 {
        font-size: 30px;
        letter-spacing: 4px;
        text-align: center;
        border-radius: 1px;
    }


}

@media screen and (max-width: 320px) {

    .contenedor-principal{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.6fr 0.4fr 0.4fr;
        grid-template-areas: 
        "principal-1"
        "principal-2"
        "img-reserva-main"
        "iframe-maps";
    }
    
    .principal-1{
        grid-area: principal-1;
    }
    
    .principal-2{
        grid-area: principal-2;
    }
    
    .img-reserva-main{
        grid-area: img-reserva-main;
    }
    
    .iframe-maps{
        grid-area: iframe-maps;
    }
    
    .principal-1,
    .principal-2,
    .img-reserva-main,
    .iframe-maps{
        display: grid;
        place-items: center;
        text-align: center;
        align-items: center;
    }

    .titulo-container{
        text-align: center;
        margin: 5px auto;
    }
    
    .principal-1{
        height: 450px;
        width: 280px;
        margin: 10px auto;
        justify-content: center;
    }

    .principal-2{
        height: 800px;
        width: 280px;
        margin: 10px auto;
        justify-content: center;
        margin-bottom: 0px;
    }
    
    .principal-2-1{
        height: 350px;
        width: 280px;
        margin-top: 40px;
        margin: 10px auto;
        justify-content: center;
    }
    
    .principal-1 img{
        width: 280px;
        height: 150px;
        margin: 10px auto;
        justify-content: center;

    }
    
    .principal-2 img{
        width: 280px;
        height: 420px;
        margin: 10px auto;
        justify-content: center;

    }

    .img-reserva-main{
        margin: 10px 20px;
        justify-content: center;
        height: 300px;
    }
    
    .img-reserva-main a{
        margin: 10px auto;
        justify-content: center;
        border-width: 3px;
        border-radius: 20px;
    }
    
    .titulo-reserva-main{
        font-size: 20px;
        margin: 1px auto;
        justify-content: center;
    }
    
    
    .principal-2-1 h2{
        width: 280px;
        font-size: 25px;
        margin: 10px 10px;
        justify-content: center;
    }
    
    .principal-2-1 .text1{
        font-size: 10px;
        width: 280px;
        margin: 10px auto;
        justify-content: center;
    }

    .iframe-maps{
        margin: 10px auto;
        justify-content: center;
    }

    iframe{
        width: 280px;
        height: 280px;
    }

    ul a{
        text-decoration: none;
        margin: auto;
    }

    .principal-1 h1{
        width: 280px;
        font-size: 25px;
        letter-spacing: 4px;
        text-align: center;
    }

    h2{
        font-size: 20px;
        letter-spacing: 4px;
        text-align: center;
    }

    h3 {
        font-size: 20px;
        letter-spacing: 4px;
        text-align: center;
        padding: 1px;
        border-radius: 10px;
    }
  
}

/* PAGINA CONTACTO RESPONSIVE*/
/* PAGINA CONTACTO RESPONSIVE*/
/* PAGINA CONTACTO RESPONSIVE*/

@media screen and (max-width: 1024px){
    
    .contenedor{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 0.1fr 0.1fr;
        grid-template-areas: 
        "formgrid       formgrid" 
        "balmes         diagonal"
        "barceloneta    tibidabo";
        margin: 10px 10px;
    }
    
    .contenedor img{
        max-width: 100%;
        height: 280px;
        border-radius: 10px;
        margin: 5px;
        justify-content: center;
        align-items: center;
    }
    
    .balmes,
    .diagonal,
    .barceloneta,
    .tibidabo{
        color: white;
        margin: 5px 5px;
        justify-content: center;
        align-items: center;
    }
    
    }

@media screen and (max-width: 720px){
    
    .contenedor{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 0.1fr 0.1fr;
        grid-template-areas: 
        "formgrid       formgrid" 
        "balmes         diagonal"
        "barceloneta    tibidabo";
        margin: 10px 10px;
    }
    
    .contenedor img{
        max-width: 100%;
        height: 220px;
        border-radius: 10px;
        margin: 5px;
        justify-content: center;
        align-items: center;
    }
    
    .balmes,
    .diagonal,
    .barceloneta,
    .tibidabo{
        color: white;
        margin: 5px 5px;
        justify-content: center;
        align-items: center;
    }
    
    }

@media screen and (max-width: 580px){
    .contenedor{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.25fr 0.25fr 0.25fr 0.25fr;
        grid-template-areas: 
        "formgrid" 
        "balmes"
        "diagonal"
        "barceloneta"
        "tibidabo";
    }
    
    .contenedor img{
        max-width: 100%;
        height: auto;
        margin: 10px auto;
        justify-content: center;
        border-radius: 10px;
    }
    
    .balmes,
    .diagonal,
    .barceloneta,
    .tibidabo{
        color: white;
        margin: 10px
    }
    
}

@media screen and (max-width: 320px){
    
.contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.25fr 0.25fr 0.25fr 0.25fr;
    grid-template-areas: 
    "formgrid" 
    "balmes"
    "diagonal"
    "barceloneta"
    "tibidabo";
}

.contenedor img{
    max-width: 100%;
    height: auto;
    margin: auto;
    justify-content: center;
    border-radius: 10px;
}

.balmes,
.diagonal,
.barceloneta,
.tibidabo{
    color: white;
    margin: 10px
}

}


/* PAGINA RESERVAS RESPONSIVE*/
/* PAGINA RESERVAS RESPONSIVE*/
/* PAGINA RESERVAS RESPONSIVE*/

@media screen and (max-width: 1300px){

    .contenedor-reservas{
        display: grid;
        grid-template-columns: 0.6fr 0.7fr 0.7fr;
        grid-template-rows: 1fr 0.5fr;
        grid-template-areas: 
        "formulario hambur1 hambur2"
        "formulario hambur3 hambur4";
    }


    .enviar-form {
        margin: 10px 20px;
    }

    .intro-form p{
        display: none;
    }

    .reservas-1{
        margin: 20px auto;
        justify-content: center;
        font-size: 40px;
    }

    .hambur1 img{
        max-width: 100%;
        height: 350px;
        margin: 1px 1px;
        justify-content: center;
        align-items: center;
    
    }
    .hambur2 img{
        max-width: 100%;
        height: 350px;
        margin: 1px 1px;
        justify-content: center;
        align-items: center;
    }
    
    .hambur3 img{
        max-width: 100%;
        height: 350px;
        margin: 1px 1px;
        justify-content: center;
        align-items: center;
    }
    
    .hambur4 img{
        max-width: 100%;
        height: 375px;
        margin: 1px 1px;
        justify-content: center;
        align-items: center;
    }

    .hambur1,
    .hambur2,
    .hambur3,
    .hambur4{
        margin: 10px auto;
        justify-content: center;
        align-items: center;
    }
   
}

@media screen and (max-width: 1100px){

    .contenedor-reservas{
        display: grid;
        grid-template-columns: 0.6fr 0.7fr 0.7fr;
        grid-template-rows: 1fr 0.5fr;
        grid-template-areas: 
        "formulario hambur1 hambur2"
        "formulario hambur3 hambur4";
    }


    .enviar-form {
        margin: 10px 20px;
    }

    .intro-form p{
        display: none;
    }

    .reservas-1{
        margin: 20px auto;
        justify-content: center;
        font-size: 40px;
    }

    .hambur1 img{
        max-width: 100%;
        height: 300px;
        margin: 1px 1px;
        justify-content: center;
        align-items: center;
    
    }
    .hambur2 img{
        max-width: 100%;
        height: 300px;
        margin: 1px 1px;
        justify-content: center;
        align-items: center;
    }
    
    .hambur3 img{
        max-width: 100%;
        height: 300px;
        margin: 1px 1px;
        justify-content: center;
        align-items: center;
    }
    
    .hambur4 img{
        max-width: 100%;
        height: 325px;
        margin: 1px 1px;
        justify-content: center;
        align-items: center;
    }

    .hambur1,
    .hambur2,
    .hambur3,
    .hambur4{
        margin: 10px auto;
        justify-content: center;
        align-items: center;
    }
   
}


@media screen and (max-width: 900px){

    .contenedor-reservas{
        display: grid;
        grid-template-columns: 0.33fr 0.33fr 0.33fr;
        grid-template-rows: 1fr 0.5fr;
        grid-template-areas: 
        "formulario hambur1 hambur2"
        "formulario hambur3 hambur4";
    }


    .enviar-form {
        margin: 10px 20px;
    }

    .intro-form p{
        display: none;
    }

    .reservas-1{
        margin: 20px auto;
        justify-content: center;
        font-size: 40px;
    }

    .hambur1 img{
        width: 300px;
        height: 105px;
        margin: 1px 1px;
        justify-content: center;
        align-items: center;
    
    }
    .hambur2 img{
        width: 300px;
        height: 225px;
        margin: 1px 1px;
        justify-content: center;
        align-items: center;
    }
    
    .hambur3 img{
        width: 300px;
        height: 225px;
        margin: 1px 1px;
        justify-content: center;
        align-items: center;
    }
    
    .hambur4 img{
        width: 300px;
        height: 275px;
        margin: 1px 1px;
        justify-content: center;
        align-items: center;
    }

    .hambur1,
    .hambur2,
    .hambur3,
    .hambur4{
        margin: 10px auto;
        justify-content: center;
        align-items: center;
    }
   
}

@media screen and (max-width: 780px){

    .contenedor-reservas{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas: 
        "formulario"
        "hambur1"
        "hambur2"
        "hambur3"
        "hambur4";
    }


    .enviar-form {
        margin: 10px 20px;
    }

    .intro-form p{
        display: none;
    }

    button,
    .form-select{
        margin-top: 40px;
    }

    .reservas-1{
        margin: 20px auto;
        justify-content: center;
        font-size: 40px;
    }

    .hambur1 img{
        width: 550px;
        height: 450px;
        margin: 1px 1px;
        justify-content: center;
        align-items: center;
    
    }
    .hambur2 img{
        width: 550px;
        height: 400px;
        margin: 1px 1px;
        justify-content: center;
        align-items: center;
    }
    
    .hambur3 img{
        width: 550px;
        height: 450px;
        margin: 1px 1px;
        justify-content: center;
        align-items: center;
    }
    
    .hambur4 img{
        width: 525px;
        height: 475px;
        margin: 1px 1px;
        justify-content: center;
        align-items: center;
    }

    .hambur1,
    .hambur2,
    .hambur3,
    .hambur4{
        max-width: 100%;
        height: auto;
        margin: 10px auto;
        justify-content: center;
        align-items: center;
    }
   
}

@media screen and (max-width: 580px){

    .contenedor-reservas{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas: 
        "formulario"
        "hambur1"
        "hambur2"
        "hambur3"
        "hambur4";
    }


    .enviar-form {
        margin: 10px 20px;
    }

    .intro-form p{
        display: none;
    }

    button,
    .form-select{
        margin-top: 40px;
    }

    .reservas-1{
        margin: 20px auto;
        justify-content: center;
        font-size: 40px;
    }

    .hambur1 img{
        width: 450px;
        height: 400px;
        margin: 1px 1px;
        justify-content: center;
        align-items: center;
    
    }
    .hambur2 img{
        width: 450px;
        height: 350px;
        margin: 1px 1px;
        justify-content: center;
        align-items: center;
    }
    
    .hambur3 img{
        width: 450px;
        height: 400px;
        margin: 1px 1px;
        justify-content: center;
        align-items: center;
    }
    
    .hambur4 img{
        width: 425px;
        height: 425px;
        margin: 1px 1px;
        justify-content: center;
        align-items: center;
    }

    .hambur1,
    .hambur2,
    .hambur3,
    .hambur4{
        max-width: 100%;
        height: auto;
        margin: 10px auto;
        justify-content: center;
        align-items: center;
    }
   
}


@media screen and (max-width: 480px){
    
    .contenedor-reservas{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "formulario";
        justify-content: center;
        align-items: center;
    }


    .enviar-form {
        margin: 10px 20px;
    }

    .intro-form p{
        display: none;
    }

    button,
    .form-select{
        margin-top: 40px;
    }

    .reservas-1{
        margin-top: 20px;
        font-size: 25px;
    }

    .hambur1 img,
    .hambur2 img,
    .hambur3 img,
    .hambur4 img{
        display: none;
    }
   
}

@media screen and (max-width: 320px){
    
    .contenedor-reservas{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "formulario";
        justify-content: center;
        align-items: center;
    }


    .enviar-form {
        margin: 10px 20px;
    }

    .intro-form p{
        display: none;
    }

    button,
    .form-select{
        margin-top: 40px;
    }

    .reservas-1{
        margin-top: 20px;
        font-size: 25px;
    }

    .hambur1 img,
    .hambur2 img,
    .hambur3 img,
    .hambur4 img{
        display: none;
    }
   
}