/* PAGINA NUESTRA CARTA */
/* PAGINA NUESTRA CARTA */
/* PAGINA NUESTRA CARTA */

.nuestra--carta{
    margin-top: 20px;
    font-family: 'Permanent Marker', cursive;
    color: $titlecolor;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 4px;
    text-align: center;
    }

    .baconburger,
    .cheeseburger,
    .chickenburger,
    .triplecheeseburger,
    .veggieburger {
        width: 650px;
        height: 550px;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.carousel-item{ 
    img{
        margin-bottom: 90px;
    }
}